.causes-item__inner-item {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 1em;
  /* padding: 1em; */
  border-radius: 3px;
}

/* In some cases inner items padding-right can be reduced to save space */
.causes-item__inner-item > * {
  padding-right: 1em;
}

.causes-item__content {
  /* padding: 0 1em; */
  padding-left: 1em;
}

.causes-item__inner-text-input {
  margin-right: 1em;
}

.causes-item__item-top {
  display: flex;
  flex-direction: row;
}

.causes-item__remove-icon {
  width: 1em;
  height: 1em;

  padding: 0.75em;
}
