:root {
  --color: #ddd;
  --background-color: #222;
  --pale-background: #2f2f2f;
  --disabled-text: #ababab;

  --icon-filter: invert(100%);
  --icon-filter_hover: invert(40%);

  --filter_hover: invert(15%);
  --filter_click: invert(30%);
}

img[src*=".svg"] {
  filter: var(--icon-filter);
}

/* .causal-view__svg-child rect,
.causal-view__svg-child path {
  filter: grayscale(30%) brightness(40%);
} */
