:root {
  --color: #222;
  --background-color: #e1e1e1;
  --pale-background: #fafafa;
  --disabled-text: #a5a5a5;

  --icon-filter: invert(100%);
  --icon-filter_hover: invert(60%);

  --filter_hover: invert(15%);
  --filter_click: invert(30%);
}
